@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: black;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-y: scroll;
}

header {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}

nav {
  width: 60%;

}

ul {
  display: flex;
  width: 100%;
  justify-content: space-between;

}


li {
  list-style: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 19px;
  transition: .5s;
  font-family: 'Kdam Thmor Pro', sans-serif;

}

li:hover {
  color: #d21617;

}

#logo {
  width: 110px;
  height: auto;

}

#banner {
  background-image: url("../img/banner-contato.jpg");
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 680px;
}

.contact-container {
  background-color: #000000d3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #08080833;
  width: 350px;
  position: relative;
  margin-top: -640px;
  margin-left: 10%;
  font-family: 'Kdam Thmor Pro', sans-serif;
  opacity: 80%;
}

.contact-form {
  flex: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0.9;
  font-family: 'Kdam Thmor Pro', sans-serif;

}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.089);
  color: aliceblue;
  font-family: 'Kdam Thmor Pro', sans-serif;
}


button {
  background-color: #D21617;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: .8s;
  font-size: 16px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

button:hover {
  background-color: #ffffff;
  color: #D21617;
}

footer {
  height: 150px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

span {
  color: #fff;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
  display: none;
}

.footer-list {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 768px) {
  .footer-navigation {
    display: block;
  }

  nav {
    display: none;
  }

  #banner {
    background-position: 50%
  }

  .contact-container {
    background-color: #000000d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000033;
    width: 320px;
    position: relative;
    margin-top: -640px;
    margin-left: 4%;
    font-family: 'Kdam Thmor Pro', sans-serif;
    opacity: 80%;
  }

  .contact-form {
    flex: 1;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0.9;
    font-family: 'Kdam Thmor Pro', sans-serif;

  }

  footer {
    height: 150px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

}